.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section h2 {
  color: red;
  font-family: "Nova Flat";
  font-weight: 300;
  letter-spacing: 10px;
}

hard {
  color: aqua;
}

.name {
  font-family: "Nova Flat";
}

.image {
  height: 30%;
  width: 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #001300;
  animation: changeColor 5s linear infinite;
}
section h2 {
  color: red;
  font-family: "Nova Flat";
  font-weight: 300;
  letter-spacing: 10px;
}

.name {
  font-family: "Nova Flat";
}

.image {
  height: 30%;
  width: 40%;
}

.name {
  font-family: "Nova Flat";
}

.image {
  height: 30%;
  width: 40%;
}

section .loader {
  position: relative;
  display: flex;
}

/* button */

button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsla(122, 100%, 17%, 1),
    hsla(122, 100%, 50%, 1),
    hsla(122, 100%, 50%, 1),
    hsla(122, 100%, 17%, 1)
  );
}

button {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: rgb(7, 85, 4);
  background: hsla(122, 100%, 50%, 1);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  button {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

/* button:hover {
  filter: brightness(110%);
} */

button:hover {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active {
  transform: translateY(-2px);
  transition: transform 34ms;
}

button:hover {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active {
  transform: translateY(1px);
  transition: transform 34ms;
}

button:focus:not(:focus-visible) {
  outline: none;
}

button {
  margin-top: 1em;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* name input area */

input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  max-width: 20%;
  max-height: 30px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

/* when user hasnt logged in */

#login-button {
  position: relative;
  text-decoration: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#login-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

#login-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsla(0, 100%, 19%, 1),
    hsla(0, 100%, 54%, 1),
    hsla(0, 100%, 54%, 1),
    hsla(0, 100%, 19%, 1)
  );
}

#login-button {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: hsla(0, 100%, 19%, 1);
  background: hsla(0, 100%, 54%, 1);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  #login-button {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}
.game-over-container {
  display: block;
}
.stuff {
  margin: auto;
}
/* .game-over-info {
  border: 5px solid;

  max-height: 400px;

  overflow: scroll;
  border-radius: 12px;
  border-color: #00ff0a;
} */
.parent-parent-container {
  display: inline-block;
}
.parent-container {
  width: 100%;
}
.leaderboard-container-nostart {
  width: 50%;
  margin: auto;
}

.leaderboard-container {
  width: 50%;
  float: left;
  padding: 10px;
  padding-left: 5em;
}
.title {
  height: 4em;
}

.table-container-nostart {
  border: 5px solid;
  height: 25em;
  overflow: scroll;
  border-radius: 12px;
  border-color: #00ff0a;
  height: 30em;
}

.table-container {
  border: 5px solid;

  height: 25em;

  overflow: scroll;
  border-radius: 12px;
  border-color: #00ff0a;
}
.leaderboard-table {
  margin: auto;
  border-spacing: 1em;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
}
.game-over-info a {
  color: #ff00ff;
  text-decoration: none;
}
.answer-list-container {
  width: 50%;
  float: right;
  padding: 10px;
}
.list-container {
  padding: 1.5em;
  max-width: 90%;
  border: 5px solid;
  height: 25em;

  overflow: scroll;
  border-radius: 12px;
  border-color: #00ff0a;
}

.answer-list {
  list-style-type: none;

  text-align: left;
  margin-left: 1em;
  text-indent: -2em;
}

.song-details {
  color: #ff00ff;
  text-shadow: 0 0 0.2em #000000;
}

.play-again-btn {
  margin: auto;
}

#login-button:hover {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.normal {
  position: relative;
  text-decoration: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.normal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.normal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsla(0, 100%, 19%, 1),
    hsla(0, 100%, 54%, 1),
    hsla(0, 100%, 54%, 1),
    hsla(0, 100%, 19%, 1)
  );
}

.normal {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: hsla(0, 100%, 19%, 1);
  background: rgb(20, 200, 255);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .normal {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.normal:hover {
  filter: brightness(110%);
}

.normal:hover {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.normal:active {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.normal:hover {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.normal:active {
  transform: translateY(1px);
  transition: transform 34ms;
}

.normal:focus:not(:focus-visible) {
  outline: none;
}

.normal {
  margin-top: 1em;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 5px;
}

select {
  background-color: #bbf5bb;
  border-style: none;
  border-radius: 5px;
  height: 18px;
  border: none;
  text-align: center;
  margin-top: 4px;
  color: rgb(2, 29, 2);
}

#login-button {
  max-width: 50%;
  margin: auto;
  top: 1em;
}

.check {
  float: right;
}
